@font-face {
  font-family: 'brown';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Brown\ Pen.otf');
}

body{
  background-color: #ebebeb;
}

.brand-logo{
  font-family: brown;
  padding-top: 10px!important;
  padding-left: 20px!important;
  font-size: 80px!important;
}
.titulo-seccion{
  font-family: brown;
  font-size: 90px;
}
.parallax-container {
      height: 500px;
    }
.parallax-container400{
      height: 400px;
    }
.padding-10{
	margin: 20px;
}
 